## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Albany,US,42.6001,-73.9662,37.47,91,100,3.00,snow
1,1,Tasiilaq,GL,65.6145,-37.6368,12.36,58,83,5.75,broken clouds
2,2,Ostrovnoy,RU,68.0531,39.5131,8.62,96,100,5.21,overcast clouds
3,3,Narrabri,AU,-30.3167,149.7833,80.53,38,37,19.57,scattered clouds
4,4,Saskylakh,RU,71.9167,114.0833,-14.08,98,100,2.10,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Narrabri,AU,-30.3167,149.7833,80.53,38,37,19.57,scattered clouds
6,6,Saint-Philippe,RE,-21.3585,55.7679,80.15,92,100,32.30,moderate rain
14,14,Port Blair,IN,11.6667,92.7500,80.64,74,20,9.22,mist
17,17,Palu,ID,-0.8917,119.8707,88.50,57,100,4.43,overcast clouds
24,24,Bodden Town,KY,19.2833,-81.2500,77.00,85,20,4.00,few clouds
25,25,Rikitea,PF,-23.1203,-134.9692,78.22,74,100,17.02,light rain
26,26,Miri,MY,4.4148,114.0089,86.14,79,40,9.22,scattered clouds
30,30,Gladstone,AU,-23.8500,151.2500,84.13,58,100,12.66,overcast clouds
36,36,Butaritari,KI,3.0707,172.7902,81.79,77,17,15.19,light rain
41,41,Nueva Concepcion,GT,14.2000,-91.3000,79.47,79,20,2.17,few clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Narrabri,AU,-30.3167,149.7833,80.53,38,37,19.57,scattered clouds
6,6,Saint-Philippe,RE,-21.3585,55.7679,80.15,92,100,32.30,moderate rain
14,14,Port Blair,IN,11.6667,92.7500,80.64,74,20,9.22,mist
17,17,Palu,ID,-0.8917,119.8707,88.50,57,100,4.43,overcast clouds
24,24,Bodden Town,KY,19.2833,-81.2500,77.00,85,20,4.00,few clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Moroni,KM,-11.7022,43.2551,80.58,82,100,10.04,overcast clouds
662,662,Karangasem,ID,-8.4500,115.6167,79.68,61,91,5.70,overcast clouds
670,670,Fayaoue,NC,-20.6500,166.5333,80.47,84,100,10.07,moderate rain
679,679,Bitung,ID,1.4451,125.1824,79.65,77,100,9.71,overcast clouds
687,687,Ladario,BR,-19.0047,-57.6017,75.15,87,94,1.66,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Narrabri,AU,80.53,scattered clouds,-30.3167,149.7833,
6,Saint-Philippe,RE,80.15,moderate rain,-21.3585,55.7679,
14,Port Blair,IN,80.64,mist,11.6667,92.7500,
17,Palu,ID,88.50,overcast clouds,-0.8917,119.8707,
24,Bodden Town,KY,77.00,few clouds,19.2833,-81.2500,
25,Rikitea,PF,78.22,light rain,-23.1203,-134.9692,
26,Miri,MY,86.14,scattered clouds,4.4148,114.0089,
30,Gladstone,AU,84.13,overcast clouds,-23.8500,151.2500,
36,Butaritari,KI,81.79,light rain,3.0707,172.7902,
41,Nueva Concepcion,GT,79.47,few clouds,14.2000,-91.3000,

In [ ]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.") 
print("Complete!")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather</dt><dd>{Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 

max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))